[submodule "liftover"]
	path = liftover
	url = https://github.com/alshai/liftover
	branch = master
[submodule "varcount"]
	path = varcount
	url = https://github.com/alshai/varcount
	branch = master
[submodule "hts_utils"]
	path = hts_utils
	url = ./hts_utils
